Checks: "
  clang-diagnostic-*,
  llvm-*,
  misc-*,
  modernize-*,
  readability-*,
  performance-*,
  misc-*,
  bugprone-*,
  cert-*,
  -llvm-include-order
  -modernize-use-trailing-return-type
  -readability-identifier-length
  -performance-no-int-to-ptr
  "
